
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.exe
*.dll
*.pdb
*.user
*.userosscache
*.sln.docstates

*.nupkg
*.nuget.props
*.nuget.targets

appsettings.Local.json
appsettings.Development.local.json
*.secrets.json

.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*.sln.iml

Thumbs.db
desktop.ini
$RECYCLE.BIN/

AuthServer.API/appsettings.Development.json
AuthServer.API/appsettings.json